@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root {
    --header-height: 3.5rem;

    /*==== Colors ====*/
    --first-color: #232d60;
    --second-color: #6A7199;
    --third-color: #c9ccce;
    --title-color: #161718;
    --text-color: #47474A;
    --text-color-light: #828287;
    --body-color: #FFFFFF;
    --container-color: #F5F8FA;
    /* --body-color-trs: #FFFFFF; */
    --body-color-trs: hsla(0, 0%, 100%, 0.897);


    /*==== Font and typography ====*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Lora', serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    /*==== Font weight ====*/
    --font-medium: 500;
    --font-semi-bold: 600;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --tiny-font-size: .688rem;
    }
}

/*==== BASE ====*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-image: url(/assets/img/background.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: var(--text-color);
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}

h1, h2, h3 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*==== HEADER ====*/

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 400px;
    cursor: pointer;
}

.nav_menu {
    flex: 1;
    padding-left: 60px;
}

.nav_list li {
    display: inline-block;
    margin: 0px 20px;
}

.nav_list li a{
    text-decoration: none;
    position: relative;
    color: var(--title-color);
}

.nav_list li a::before{
    content: '';
    background-color: hsla(340, 100%, 94%, 0.75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.nav_list li a:hover::before {
    bottom: 0;
    height: 100%;
}

/*==== HOME ====*/
.home_content {
    margin-left: 10%;
    margin-top: 10%;
}

.home_content h1 {
    font-size: 60px;
    font-weight: var(--font-semi-bold);
    margin-top: 24px;
    margin-bottom: 15px;
    color: var(--first-color);
}

.home_content p {
    font-size: 20px;
    color: var(--second-color);
}

/* .feature_img {
    position: flex;
    height: 500px;
    right: 15%;
} */

/* .feature_img {
    height: 130%;
    position: absolute;
    bottom: -55%;
    right: 15%;
} */

/*==== FOOTER ====*/
.footer_container {
    padding: 3rem 0 7rem;
    margin-top: 15px;

    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer_list,
.footer_social {
    display: flex;
    justify-content: center;
}

.footer_link {
    color: var(--first-color);
}

.footer_social {
    column-gap: 1.25rem;
}

.footer_social-link {
    font-size: 1.25rem;
    color: var(--first-color);
    transition: transform .3s;
}

.footer_social-link:hover {
    transform: translateY(-.15rem);
    color: var(--second-color);
}

.footer_copy {
    display: block;
    margin-top: 3.5rem;
    font-size: var(--small-font-size);
    color: var(--second-color);
}

/*==== MEDIA QUERIES ====*/
/* Small Devices */

@media screen and (max-width: 576px) {
    .navbar{
        justify-content: center;
        flex-direction: column;
    }

    .logo {
        width: 300px;
        padding-top: 90px;
        cursor: pointer;
    }

    .nav_menu {
        padding-left: 0;
    }

    .nav_list li {
        margin: 0 8px;
    }

    .home_content {
        margin-left: 0;
        margin-top: 30%;
    }

    .home_content h1 {
        text-align: center;
        font-size: 30px;
    }

    .home_content p {
        text-align: center;
        font-size: var(--small-font-size);
    }

    .feature_img {
        height: 70%;
        bottom: -75%;
        position: absolute;
        margin: auto;
    }

    .footer_copy {
        margin-top: 2rem;
        font-size: var(--smaller-font-size);
    }
}

/* Medium Devices */
/* @media screen and (min-width: 576px) {
    .home_content h1 {
        font-size: 45px;
    }

    .home_content p {
        font-size: 15px;
    }

    .feature_img {
        height: 95%;
        bottom: -100%;
    }

}

@media screen and (min-width: 767px) {
    .home_content h1 {
        font-size: 50px;
    }

    .home_content p {
        font-size: 18px;
    }

    .feature_img {
        height: 105%;
        bottom: -90%;
    }
} */

/* Large Devices */
/* @media screen and (min-width: 1048px) {
    .feature_img {
        height: 120%;
        bottom: -80%;
        right: 0%;
    }
}

@media screen and (min-width: 1200px) {
    .feature_img {
        height: 130%;
        position: absolute;
        bottom: -55%;
        right: 15%;
    }
} */